<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <context:annotation-config/>

    <bean id="dataSource"
          class="org.example.storage.DataSource">
        <property name="dataSaver" ref="dataSaver"/>
    </bean>

    <bean id="dataSaver"
          class="org.example.storage.DataSaver">
        <property name="userDao" ref="userDao"/>
        <property name="eventDao" ref="eventDao"/>
        <property name="ticketDao" ref="ticketDao"/>
    </bean>

    <bean id="eventDao"
          class="org.example.storage.dao.EventDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="eventService"
          class="org.example.service.impl.EventServiceImpl">
    </bean>

    <bean id="userDao"
          class="org.example.storage.dao.UserDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService"
          class="org.example.service.impl.UserServiceImpl">
    </bean>

    <bean id="ticketDao"
          class="org.example.storage.dao.TicketDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="ticketService"
          class="org.example.service.impl.TicketServiceImpl">
        <property name="userService" ref="userService"/>
        <property name="eventService" ref="eventService"/>
    </bean>

    <bean id="bookingFacade"
          class="org.example.facade.BookingFacadeImpl">
        <constructor-arg ref="eventService"/>
        <constructor-arg ref="userService"/>
        <constructor-arg ref="ticketService"/>
    </bean>
</beans>