<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource"
          class="org.example.storage.DataSource">
    </bean>

    <bean id="eventDao"
          class="org.example.storage.dao.EventDao">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="eventService"
          class="org.example.service.impl.EventServiceImpl">
        <constructor-arg ref="eventDao"/>
    </bean>

</beans>