<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="dataSource"
          class="org.example.storage.DataSource">
    </bean>

    <bean id="eventDao"
          class="org.example.storage.dao.EventDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="eventService"
          class="org.example.service.impl.EventServiceImpl">
    </bean>

    <bean id="userDao"
          class="org.example.storage.dao.UserDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService"
          class="org.example.service.impl.UserServiceImpl">
    </bean>

    <bean id="ticketDao"
          class="org.example.storage.dao.TicketDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="ticketService"
          class="org.example.service.impl.TicketServiceImpl">
        <property name="userService" ref="userService"/>
        <property name="eventService" ref="eventService"/>
    </bean>
</beans>